<h3>新規会員登録</h3>
<div class="row">
  <div class="col-xs-8">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "customers/shared/error_messages", resource: resource %>
      <table class="table">
        <tr>
          <th><%= f.label :name, "名前" %></th>
          <td>(姓)</td>
          <td><%= f.text_field :last_name, autocomplete: "山田" %></td>
          <td>(名)</td>
          <td><%= f.text_field :first_name, autocomplete: "花子" %></td>
        </tr>
        <tr>
          <th><%= f.label :name, "フリガナ" %></th>
          <td>(セイ)</td>
          <td><%= f.text_field :last_name_kana, autocomplete: "ヤマダ" %></td>
          <td>(メイ)</td>
          <td><%= f.text_field :first_name_kana, autocomplete: "ハナコ" %></td>
        </tr>
        <tr>
          <th><%= f.label :email, "メールアドレス" %></th>
          <td></td>
          <td><%= f.email_field :email, autocomplete: "email" %></td>
        </tr>
        <tr>
          <th><%= f.label :postcode, "郵便番号(ハイフンなし)" %></th>
          <td></td>
          <td><%= f.text_field :postcode %></td>
        </tr>
        <tr>
          <th><%= f.label :address, "住所" %></th>
          <td></td>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th><%= f.label :phone_number, "電話番号(ハイフンなし)" %></th>
          <td></td>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th>
            <%= f.label :password, "パスワード" %>
            <% if @minimum_password_length %>
              (<%= @minimum_password_length %>文字以上)
            <% end %>
          </th>
          <td></td>
          <td><%= f.password_field :password, autocomplete: "new-password" %></td>
        </tr>
        <tr>
          <th><%= f.label :password_confirmation, "パスワード(確認用)" %></th>
          <td></td>
          <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
        </tr>
      </table>
      <div class="actions">
        <%= f.submit "新規登録", class: 'btn btn-primary' %>
      </div>
    <% end %>

    <h3>既に登録済みの方</h3>
    <%= link_to new_customer_session_path do %>こちら<% end %>からログインしてください。
  </div>
</div>