<div class="row">
  <div class="col-xs-1"></div>
  <div class="col-xs-8">
    <h2><%= @customer.last_name%><%= @customer.first_name%>さんの会員情報編集</h2>
    <%= form_with model: @customer, url:administrator_customer_path, local: true  do |f| %>
      <table class="table">
        <tr>
          <th><%= f.label :customer_id, '会員ID' %></th>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <th><%= f.label :'氏名' %></th>
          <td><%= f.text_field :last_name %></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <th><%= f.label :'フリガナ' %></th>
          <td><%= f.text_field :last_name_kana %></td>
          <td><%= f.text_field :first_name_kana %></td>
        </tr>
        <tr>
          <th><%= f.label :'郵便番号' %></th>
          <td><%= f.text_field :postcode %></td>
        </tr>
        <tr>
          <th><%= f.label :'住所' %></th>
          <td><%= f.text_field :address %></td>
        </tr>
        <tr>
          <th><%= f.label :'電話番号' %></th>
          <td><%= f.text_field :phone_number %></td>
        </tr>
        <tr>
          <th><%= f.label :'メールアドレス' %></th>
          <td><%= f.email_field :email %></td>
        </tr>
        <tr>
          <th><%= f.label :'会員ステータス' %></th>
          <td>
            <%= f.radio_button :is_deleted, false %>
            <%= f.label :is_deleted, '有効' %>
          </td>
          <td>
            <%= f.radio_button :is_deleted, true %>
            <%= f.label :is_deleted, '退会済み' %>
          </td>
        </tr>
      </table>
          <span class="actions">
            <%= f.submit "変更を保存する", class:"btn btn-primary" %>
          </span>
    <% end %>
  </div>
  <div class="col-xs-3"></div>
</div>