<h2>注文履歴詳細</h2>
<div class="row">
  <div class="col-xs-8">
    <h3>注文情報</h3>
    <table class="table table-bordered">
        <tr>
          <th class="active">注文日</th><td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <th class="active">配送先</th>
          <td>
            <%= @order.postcode %><br>
            <%= @order.address %><br>
            <%= @order.addressee %>
          </td>
        </tr>
        <tr>
          <th class="active">支払方法</th><td><%= @order.payment_method_i18n %></td>
        </tr>
        <tr>
          <th class="active">ステータス</th><td><%= @order.order_status %></td>
        </tr>
    </table>
  </div>
  <div class="col-xs-4">
    <h3>請求情報</h3>
    <table class="table table-bordered">
        <tr>
          <th class="active">商品合計</th><td><%= @order.total_cost %></td>
        </tr>
        <tr>
          <th class="active">配送料</th><td><%= @order.delivery_fee %></td>
        </tr>
        <tr>
          <th class="active"><strong>ご請求額</strong></th><td><%= @order.pricing %></td>
        </tr>
    </table>
  </div>
</div>
<h3>注文内容</h3>
<table class="table table-bordered">
  <thead>
    <tr>
      <th class="active">商品</th>
      <th class="active">単価(税込)</th>
      <th class="active">個数</th>
      <th class="active">小計</th>
    </tr>
  </thead>
  <% @ordered_items.each do |ordered_item| %>
    <tbody>
      <tr>
        <td><%= ordered_item.item.name %></td>
        <td<%= ordered_item.order.price_tax_included(ordered_item.item.price_without_tax) %></td>
        <td><%= ordered_item.quantity %></td>
        <td><%= ordered_item.item.cart_items.sub_price %></td>
      </tr>
    </tbody>
  <% end %>
</table>