<% if current_customer && customer_signed_in? %>
  <div class="stock">
    <% if item.stocked?(current_customer) %>
      <%= form_with model: item.stocks.find_by(customer_id: current_customer.id), method: :delete do |f| %>
        <%= button_tag(class: "btn btn-dark") do %>
          <i class="fas fa-folder-minus"></i>
        <% end %>
      <% end %>
      <%= link_to 'ストック一覧はこちら', stocks_path %>
    <% else %>
      <%= form_with model: item.stocks.build, url: stocks_path do |f| %>
        <div>
          <%= hidden_field_tag :item_id, item.id %>
        </div>
        <%= button_tag(class: "btn btn-outline-dark") do %>
          <i class="fas fa-folder-plus"></i>
        <% end %>
      <% end %>
      <%= link_to 'ストック一覧はこちら', stocks_path %>
    <% end %>
  </div>

<% end %>