<h2 class="title">商品新規登録</h2>
<div class="row">
  <%= form_with model: @item_new, url: administrator_items_path, method: :post, local:true do |f| %>
    <div class="col-xs-4">
      <%= f.attachment_field :image %>
    </div>
    <div class="col-xs-5">
      <span>
        <%= f.label :"商品名" %>
        <%= f.text_field :name, class: "name-form" %>
      </span><br>
      <span>
        <%= f.label :"商品説明" %>
        <%= f.text_area :discription, class: "discription-form", size: "30x4" %>
      </span><br>
      <span>
        <%= f.label :"ジャンル" %>
        <%= f.collection_select(:genre_id, @genres, :id, :name, {prompt: "選択してください"}) %>
      </span><br>
      <span>
        <%= f.label :"税抜価格" %>
        <%= f.text_field :price_without_tax, class: "price-form" %>
      </span><br>
      <span>
        <%= f.label :"販売ステータス" %>
        <%= f.select :is_active, [["販売中", true], ["売り切れ", false]], {include_blank: true} %>
      </span>
    </div>
    <div class="col-xs-3">
      <%= f.submit "新規投稿", class: "btn btn-primary col-xs-8" %>
    </div>
  <% end %>
</div>