<table class="table table-bordered">
  <thead>
    <tr class="table-secondary">
      <th class="active">郵便番号</th>
      <th class="active">住所</th>
      <th class="active">宛名</th>
      <th class="active"></th>
    </tr>
  </thead>
    <tr>
      <% addresses.each do |add| %>
        <tbody>
          <td><%= add.postcode %></td>
          <td><%= add.address %></td>
          <td><%= add.addressee %></td>
          <td>
            <span class="actions">
              <%= link_to "編集する", edit_customers_address_path(add.id), class: "btn btn-primary" %>
              <%= link_to "削除する", customers_address_path(add.id), method: :delete, remote: true, class: 'btn btn-danger', data: {confirm: "削除してよろしいですか?"} %>
            </span>
          </td>
        </tbody>
      <% end %>
    </tr>
</table>