<h2>配送先編集</h2>
<%= form_with model: @address, url: customers_address_path(@address.id), local: true do |f| %>
  <div class="field">
    <%= f.label :postcode, "郵便番号(ハイフンなし)" %>
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :addressee, "宛名" %>
    <%= f.text_field :addressee %>
  </div>
  <span class="actions">
    <%= f.submit "編集する", class: "btn btn-primary" %>
  </span>
<% end %>