
<table class="table table-bordered">
  <thead>
    <tr>
      <th>商品名</th>
      <th>単価(税込)</th>
      <th>数量</th>
      <th>小計</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% cart_items.each do |cart_item| %>
    <tr>
      <td>
        <%= attachment_image_tag cart_item.item, :image, size:"30x30" %>
        <%= cart_item.item.name %>
      </td>
      <td>
        <%= cart_item.item.price_tax_included.to_s(:delimited, delimiter: ',') %>
      </td>
      <td>
        <%= form_with model: cart_item, url: customers_cart_item_path(cart_item), method: :patch, remote: true do |f| %>
          <%= f.number_field :quantity, min:1 %>
          <%= f.submit "変更", class: "btn btn-primary" %>
        <% end %>
      </td>
      <td>
        <%= cart_item.sub_price.to_s(:delimited, delimiter: ',') %>
      </td>
      <td>
        <%= link_to "削除する", customers_cart_item_path(cart_item), method: :delete, remote: true, data: { confirm: 'カートから削除しますか?' }, class: "btn-sm btn-danger" %>
      </td>
    </tr>
  <% end %>
　</tbody>
</table>
<table class="table table-bordered" style="width: 20%;">
  <tr>
    <th>合計金額</th><td><%= total_price(cart_items).to_s(:delimited, delimiter: ',') %></td>
  </tr>
</table>