<div class="row">
  <div class="col-xs-12">
    <h2>ショッピングカート</h2>
    <%= link_to "カートを空にする", customers_cart_items_path, method: :delete, data: { confirm: 'カートを空にしますか?' }, class: "btn-sm btn-danger" %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>商品名</th>
          <th>単価(税込)</th>
          <th>数量</th>
          <th>小計</th>
          <th></th>
        </tr>
      </thead>
      <tbody id="form-ajax">
        <%= render partial: 'form', locals: { cart_items: @cart_items } %>
      </tbody>
    </table>
    <table class="table table-bordered" style="width: 20%;">
      <tr id="total-cost">
       <%= render 'total_cost', cart_items: @cart_items %>
      </tr>
    </table>
    <div class="col-xs-12">
      <div class="text-left">
        <%= link_to "買い物を続ける", items_path, class:"btn btn-primary btn-sm" %>
      </div>
    </div>
    <% unless @cart_items.empty? %>
      <div class="text-center">
        <%= link_to "情報入力に進む", new_customers_order_path, data: { confirm: '買い物は以上ですか?' }, class: "btn-sm btn-success" %>
      </div>
    <% end %>
  </div>
</div>
